@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

* {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

html {
  background: #fff;
}
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}
/*
body {
  background: rgb(217, 129, 255);
  background: linear-gradient(
    90deg,
    rgba(217, 129, 255, 1) 0%,
    rgba(255, 125, 125, 1) 35%,
    rgba(255, 217, 69, 1) 100%
  );
  z-index: -1;
}
*/
.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #212121;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.08s linear;
  transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1.5s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0;
  position: sticky;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #000000;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/*.bloc {
    border: solid;
    border-radius: 1px;
    border-color: indianred;
    width: 300px;
    margin-top: 60px;
    margin-left: 2%;
    margin-right: 40px;
    position: relative;
    flex: 0 0 calc(25% - 20px); /* 25% - (margin-right + margin-left) 
  }*/

/*  .clearfix {
    width: 100%;
    height: 0;
    clear: both;
  }  */

.bloc {
    border: solid;
    border-radius: 1px;
    border-color: indianred;
    display: inline-block;
    width: 310px;
    margin-top: 60px;
    margin-left: 4%;
    margin-right: 40px;
    position: relative;
  }
#pdf {
  width: 300px;
  align-items: center;
  background-repeat: no-repeat;
  visibility: visible;
  opacity: 100%;
}

.pdf {
  display: flex;
  flex-wrap: wrap;

  float: left;
}
#desc {
  visibility: hidden;
  text-align: center;
  opacity: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

:hover.bloc #pdf {
  opacity: 0%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  transition: 0.5s, opacity 0.5s;
  background-color: #999;
}

.bloc:hover #desc {
  visibility: visible;
  opacity: 100%;
  transition: opacity 2s;
}
.bloc:nth-child(4n + 5) {
  clear: left;
}

.conteneur .Lang .Lanz{
    align-items: center;
}
/*
.lang {
  width: 200px;
  align-items: center;
  display: inline;
}

#Lan {
  width: 100px;
  border-radius: 10%;
}
#Lanz {
  width: 100px;
  border-radius: 10%;
  border-width: 100px;
}
#Lan:hover {
  background-color: orange;
  transition: 0.5s;
  border-radius: 50%;
}
#Lanz:hover {
  background-color: orange;
  transition: 0.5s;
  border-radius: 40%;
}
.Language {
  justify-content: center;
}
#Pres {
  font-size: 30px;
}
*/
.conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permet de passer à la ligne lorsque l'espace est insuffisant */
    height: 88vh;
  }
  
  .lang {
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ajout de cette ligne */
    margin: 10px; /* Ajout d'une marge pour l'espace entre les éléments */
    font-size: 20px;
    margin-top: 13%;
    color: beige;
  }
  
  #Lan {
    width: 150px;
    border-radius: 10%;
  }
  
  #Lanz {
    width: 150px;
    border-radius: 10%;
    border-width: 100px;
  }
  
  #Lan:hover {
    background-color: orange;
    transition: 0.5s;
    border-radius: 50%;
  }
  
  #Lanz:hover {
    background-color: orange;
    transition: 0.5s;
    border-radius: 40%;
  }
  
  .Language {
    justify-content: center;
  }
  
  #Pres {
    font-size: 30px;
    position: absolute;
    top: 75px;
    width: 100%;
    margin-bottom: 5%;
  }
  #Appren{
    font-size: 30px;
  }
.custom-shape-divider-bottom-1679297948 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679297948 svg {
  position: relative;
  display: block;
  width: calc(121% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1679297948 .shape-fill {
  fill: #ffffff;
}

.Title {
  display: block;
  text-align: center;
  top: 45%;
  position: absolute;
  left: 23%;
  font-size: 50px;
}

main {
  position: relative;
  top: 100%;
  margin-left: 2%;
  text-align: center;
}

.kietil {
  position: relative;
  top: 105%;
  text-align: center;
  font-size: 40px;
}
.h1{
  font-size: 80px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ban{
  position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    top: -90px;
    height: 118%;
}